*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    z-index: 1;
    font-family:'Arial' ;
}
header{
     width: 100%;
     height: auto;   
}
nav{
    width: 100%;
    height: 90px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: #fff;
}
nav img{
    height: 50px;
    margin:20px 20px ;
}

nav ul{
    float: right;
    list-style: none;
    margin: 35px 150px 0 0;
}
nav ul li{
    float:left;
    margin-left: 80px;
}
nav ul li a{
    text-decoration: none;
    font-family: 'Reddit Sans Condensed',sans-serif;
    color: #000;
    transition: 0.2s all;
    letter-spacing: 1px;
}
nav ul li a:hover{
    color: rgb(24, 104, 253);
}
#start-btn{
    padding: 10px;
    border: 2px solid #000;
    border-radius: 5px;
    box-shadow: 1px 4px 4px #000;
}
#start-btn:hover{
    border-color: rgb(24, 104, 253);
    color: #fff;
    background-color: rgb(24, 104, 253);
}
header{
    height: auto;
    width: 100%;
    margin-top: 90px;
    display: flex;
}
header > div{
    height: 500px;
    width: 50%;
    background-color: rgb(18, 112, 167);
}
.main-text{
    background-color: rgb(3, 3, 87);
    color: #fff;
}
.main-text > h1{
    font-family: 'Mukta', sans-serif;
    margin: 70px 90px;
    font-size: 62px;
    font-weight: 450;
    line-height: 110%;
}

.main-text > p{
    font-family:'Arial' ;
    padding-right: 70px;
    line-height: 120%;
    margin: -40px 90px;
}
.main-text > a > button{
    height: 45px;
    width: 190px;
    margin: 90px 90px;
    cursor: pointer;
    font-size: 20px;
    border: none;
    background-color: rgb(12, 72, 184);
    color: #fff;
    border-radius: 5px;
    transition: 0.3s all;
}
.main-text > a > button:hover{
    background-color: #fff;
    color: rgb(12, 74, 189);
}
#header-png > img{
    height: 450px;
    margin: 40px 163px;
}

.quiz-section{
    height: auto;
    width: 100%;
    padding-top: 100px;
}

.quiz-section > h1{
    text-align: center;
    font-family:'Mukta', sans-serif;
    font-size: 34px;
}

.quiz-section > p{
    text-align: center;
    font-size: 18px;
    margin-top: 30px;
    color: rgb(165, 165, 165);
    font-family: Arial, Helvetica, sans-serif;
}

.Statistics-container{
    height: auto;
    padding: 10px;
    width: 100%;
    gap: 10px;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    flex-wrap: wrap-reverse;
}
.Statistics-container > div{
    height:300px;
    width: 300px;
    text-align: center;
   
}
.icon{
    font-size:50px;
    border: 2px solid #4b4b4b;
    padding: 30px;
    border-radius: 360px;
    margin-top:40px ;
}
.counting_value{

    color: rgb(28, 89, 221);
    font-family:'Mukta', sans-serif ;
    font-size: 50px;
}
.stactics-para{
    font-family: 'Reddit Sans Condensed',sans-serif;

}

.quizes{
    height: auto;
    width: 100%;
   background: url(assets/quiz-background.jpg);
    padding-top: 170px;
    background-size: cover;
    color: #fff;
    padding-bottom: 100px;
}

.quizes > h1,p{
    text-align: center;
}

.quizes >h1{
    font-family:'Mukta', sans-serif;
    font-size: 34px;
}

.quizes > p{
    margin-top: 30px;
    font-family:'Reddit Sans Condensed',sans-serif ;
    font-size: 19px;

}
.quiz-container{
    display: flex;
    height: auto;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    padding-top: 100px;
}
.quiz-container div{
    width: 350px;
    height: 230px;
    background: rgb(193,4,230);
background: linear-gradient(120deg, rgba(193,4,230,1) 19%, rgba(0,212,255,1) 100%);
    /* margin-left: 90px; */
    border-radius:6px ;
    
}

.quiz-container > div >img{
    height: 50px;
    margin: 30px 30px;
}
.quiz-container > div > h3{

    font-family:'Mukta', sans-serif ;
    font-weight: 450;
    margin: -80px 140px;
    font-size: 30px;
}
.quiz-container > div > p{
    font-family:'Reddit Sans Condensed',sans-serif ;
    font-size: 30px;
    margin:90px 0;
    margin-left: -40px;
}
#quiz-btn{
    height: 40px;
    width: 140px;
    position: absolute;
    margin-top: -60px;
    margin-left: 150px;
    color: #fff;
    background-color:rgb(12, 72, 184) ;
    border: none;
    font-family:'Reddit Sans Condensed',sans-serif ;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.4s all;
}   
#quiz-btn:hover{
    background-color: #fff;
    color: #000;
}
.about{
    height: auto;
    width: 100%;
    display: flex;
    gap: 1px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.about > div{
    height: 500px;
    width: 50%;

}

.about > div >h1{
    font-size: 40px;
    font-family: 'Mukta', sans-serif;
    margin: 70px 70px;
}
.about > div > p{
    text-align: left;
    font-family:'Reddit Sans Condensed',sans-serif  ;
    font-size: 20px;
    margin: -40px 70px;
}
.about > div > img{
    height: 540px;
    margin-left: 40px;
}
.about > div > a > button{
    height: 40px;
    width: 140px;
    border: 2px solid blue;
    background:none;
    margin: 90px 70px;
    cursor: pointer;
    border-radius: 6px;
    font-size: 17px;
    transition: 0.4s all;
}

.about > div > a > button:hover{
    background-color: blue;
    color: #fff;
}

footer{
    height: 100px;
    border-top: 1px solid #000;

}
footer > p{
    text-align: center;
    font-family: 'Mukta', sans-serif;
    font-size: 28px;
    padding-top: 30px;
}
footer > a{
    float: right;
    margin: -30px 120px ;
    text-decoration: none;
    color: #000;
    font-size: 24px;
}